@using CasinoDeYann.Api.Services
@inject UserContextService UserContextService
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - CasinoDeYann</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
</head>
<body>
<header>
    @{
        var currentUser = await UserContextService.GetCurrentUserAsync();
    }

    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-page="/Index">Le Casino de Yann</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Index">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/SlotMachine">Machine à sous</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Blackjack">Blackjack</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Roulette">Roulette</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/GoldMine">Mine d'or</a>
                    </li>
                    @if (currentUser != null)
                    {
                        <div class="navbar-text text-end balance">
                            <span id="user-money">@currentUser.Money</span> <img class="mini-coin" src="/assets/GoldMine/Yanns/yanns.webp"/>
                        </div>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/UserProfile">@currentUser.Username</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-page="/Account/Logout">Déconnexion</a>
                        </li>

                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Account/Login">Connexion</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Account/Signup">S'enregistrer</a>
                        </li>
                    }
                    

                </ul>
            </div>
        </div>
    </nav>
</header>

<div class="container-fluid p-0">
    <main role="main" class="pb-3 game-interface">
        @RenderBody()
    </main>
</div>

<!--
<footer class="border-top footer text-muted ">
    <h4>Contact & Développeurs</h4>
    <ul>
        <li>Yann Lemétayer – <a href="mailto:yann.lemetayer@epita.fr">yann.lemetayer@epita.fr</a></li>
        <li>Basile Sens – <a href="mailto:basile.sens@epita.fr">basile.sens@epita.fr</a></li>
        <li>Pierre Maunier – <a href="mailto:pierre.maunier@epita.fr">pierre.maunier@epita.fr</a></li>
        <li>Alex Blanco – <a href="mailto:alex.blanco@epita.fr">alex.blanco@epita.fr</a></li>
    </ul>
    <p><a asp-page="/MentionsLegales">Mentions légales</a></p>
</footer>
-->

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>