@page
@model CasinoDeYann.Pages.Account.SignupModel
@{
    ViewData["Title"] = "Signup";
    <link rel="stylesheet" href="~/css/Login.css" asp-append-version="true" />
}

<h2 class="page-title">S'enregistrer</h2>

@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <div class="alert alert-danger">@Model.ErrorMessage</div>
}

<div class="form-container">
    <div class="form-frame">
        <form method="post" class="login-form">
            <div class="form-group">
                <label asp-for="Username" class="form-label">Nom d'utilisateur</label>
                <input asp-for="Username" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="Password" class="form-label">Mot de passe</label>
                <input asp-for="Password" class="form-control" type="password" />
            </div>

            <div class="form-group">
                <label asp-for="ConfirmPassword" class="form-label">Confirmer Mot de passe</label>
                <input asp-for="ConfirmPassword"class="form-control confirm-control"type="password" />
            </div>

            <div class="form-group form-check">
                <input asp-for="IsAdmin"class="form-check-input debug-check"type="checkbox" />
                <label asp-for="IsAdmin"class="form-check-label debug-label">
                    Créer un compte administrateur (debug)
                </label>
            </div>

            <button type="submit" class="btn btn-primary">Créer le compte</button>
        </form>
    </div>
</div>