.machine-container {
    position: relative;
    display: block;
    width: 50vw;
    max-width: 100vw;
    margin: 5vw auto;
}

.machine-gif {
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.slot-machine {
    position: absolute;
    top:    30%;
    width:  100%;
    height: 60%;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    row-gap: 1%;
}

.slot-machine .row {
    display: flex;
    justify-content: center;
    
    column-gap: 5.5%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.slot-symbol {
    width: 11%;
    height: auto;
}

#spin {
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
    width: 18%;
    height: 20.5%;
    background-image: url('../assets/SlotMachine/ui/spin_button.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0;
}

#spin:hover {
    background-image: url('../assets/SlotMachine/ui/spin_button_hover.png');
}

#spin:active {
    background-image: url('../assets/SlotMachine/ui/spin_button_pressed.png');
}

#result-message {
    text-align: center;
    margin-top: 2vw;
    font-weight: bold;
}

@media (max-width: 80vw) {
    .machine-container {
        width: 90vw;
    }
    .slot-machine {
        top:    12%;
        right:   8%;
        width:  55%;
        height: 55%;
        row-gap: 0.8%;
    }
    .slot-machine .row {
        column-gap: 3%;
    }
    .slot-symbol {
        width: 10%;
    }
    
    #spin {
        width: 60px;
        bottom: 6%;
    }
}
